<!doctype html>
<html lang="en">

  <head>
  <!-- meta data & title -->
  <meta charset="utf-8">
  <title>DançAdinkra – Símbolos Adinkra: Cultura Iconográfica Africana</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="DançAdinkra: Criação de movimentos coreográficos baseados em símbolos adinkra  (importantes elementos da cultura iconográfica africana) e que conduzem a um  processo pedagógico que reúne reflexão e reconhecimento das potencialidades individuais.
">
  <meta name="keywords" content="Símbolos Adinkra Sankofa Dança Coreografia Ancestralidade História Cultura Afro-Brasileira Africana Indígena Diáspora Africana Educação Ensino Pedagogia Lei 10.639 Lei 11.645 Jogo Memória Dados Processos criativos em dança processos coreográficos DançAdinkra processos pedagógicos matrizes culturais africanas">
  <meta name="author" content="Silvana de Jesus">

  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="../assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">

  <!-- CSS -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">
  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="../assets/css/animate.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CBDT1NF1RY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CBDT1NF1RY');
</script>

</head>
  <!-- Header -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
  <div class="container">
  
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand wow fadeInDownBig" href="index.html"><img class="office-logo" src="../assets/img/adinkra/logos/DancAdinkra_Logo_2.png"  alt="DançAdinkra"></a>     
  </div>
  <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav pull-right">
      <!-- <li class="active">
        <a href="/">Home</a>
      </li> -->
      <li> 
        <a href="/">Aconchegue</a>
      </li>
      <li> 
        <a href="/quemsou.html">Quem Sou</a>
      </li>
      <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="/team.html">Símbolo Adinkra</a>
        <ul class="dropdown-menu">
          <li><a href="/simboloadinkra.html">Símbolos Adinkra</a></li>
          <li><a href="/fundamento.html">Fundamento Adinkra</a></li>
          <li><a href="/identitario.html">Adinkra Identitário</a></li>
        </ul>
      </li>
      <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="/team.html">DançAdinkra</a>
        <ul class="dropdown-menu">
          <li><a href="/naescola.html">Na Escola</a></li>
          <li><a href="/dancadinkra.html">DançAdinkra</a></li>
          <li><a href="/napan.html">Na Pan</a></li>
        </ul>
      </li>
      <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="/team.html">Jogos</a>
        <ul class="dropdown-menu">
          <li><a href="/jogomemoria.html">Instruções: Jogo da Memória</a></li>
          <li><a href="/memory.html">Jogo da Memória</a></li>
          <li><a href="/jogodado.html">Instruções: Jogo do Dado</a></li>
        </ul>
      </li>      
      <li>
        <a href="/recordacoes.html">RecordAções</a>
        <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="/team.html">RecordAções</a>
        <ul class="dropdown-menu">
          <li><a href="/team.html">Bossa Criativa</a></li>
          <li><a href="/memory.html">Arte Quilombo</a></li>
          <li><a href="/memory.html">CRD</a></li>
          <li><a href="/memory.html">Projeto Sankofa</a></li>
          <li><a href="/memory.html">Difusão Adinkra</a></li>
        </ul> -->
      </li>      
      <li>
        <a href="/sabermais.html"><span>Saber Mais</span></a>
      </li>
      <li>
        <a href="/contact.html">Contato</a>
      </li>
    </ul>         
  </div>
  </div>
</nav>




<!-- End Header -->
  <script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../js/wow.min.js"></script>
<script>
  new WOW().init();
</script>

  <body>
    <!-- Main Container -->

<!-- <div class="row container-kamn">
  <img src="assets/img/adinkra/sankofa.gif" class="blog-post" alt="Feature-img" align="right" width="100%"> 
</div> -->

<div id="banners"></div>
<div class="container">   
  <div class="row">
    <!-- <div class="side-left col-sm-4 col-md-4">
        <div class="row container-kamn">
            <img src="assets/img/adinkra/simbolos_adinkra.jpg" class="blog-post" alt="Feature-img" align="right" width="100%"> 
          </div>  
    </div> -->
    <div class="col-sm-2 col-md-2"></div>
    <div class="col-sm-8 col-md-8 text-generic">
        <h3 class="text-header lead"id="anchor1"> NA ESCOLA </h3>
        <hr class="color-hr">

        <!-- <div class="row container-kamn"> -->
            <img src="assets/img/adinkra/Graca.jpeg" class="blog-post" alt="Feature-img" align="right" style="max-width:400px;padding-left:10px;"> 
        <!-- </div> -->

        <p>
            A promoção de uma ação poético-pedagógica como a de DançAdinkra, no ambiente escolar, encontra amparo evidente nas leis 10.639/03 e 13.278/16, que preconizam, respectivamente, a efetivação do ensino da história e cultura africana e afro-brasileira no ensino escolar e o ensino da dança como prática corporal essencial. Para além disso, no universo da Base Nacional Curricular Comum (BNCC), objetivos, competências e habilidades listadas como essenciais para uma formação completa também amparam e estimulam projetos como DançAdinkra. 
        </p>
        <p>
            No que se refere ao disposto para o Ensino Médio, por exemplo, quando se debate o “projeto de vida” como dimensão importante da formação, a BNCC alerta para a importância do que os estudantes anseiam, projetam e redirecionam para si ao longo de sua trajetória, numa preparação que acompanha o desenvolvimento de identidades, em transversalidade cultural e social. Neste terreno, cabe à escola o papel de estimular estudantes a se reconhecerem como sujeitos, levando em conta sua participação e intervenção social e suas potencialidades para concretização de um projeto de vida. Cabe ainda a mediação, de maneira intencional, de experiências interativas que visem a valorização da diversidade e a criação de oportunidades de crescimento.
        </p>



        <p>
             Nesse contexto, a DançAdinkra pode proporcionar experiências que colaborem com as metas estabelecidas, tanto no ensino formal quanto em outros espaços de formação em dança. Uma vez entendido que a DançAdinkra estimula o reconhecimento e a aceitação de potencialidades e de qualidades, que ativa a criatividade, a cooperação, o compromisso e a autonomia, numa movimentação individual e coletiva para a criação de produtos culturais inclusivos, essa pesquisa pode ser compreendida como uma ferramenta geradora de reflexões, colaborando na construção de pensamento crítico, estimulando o protagonismo, o autoconhecimento e a auto avaliação e impactando positivamente na autoestima. Além do que, a dança trabalha o corpo, podendo incentivar a prática de exercício físico para um estilo de vida saudável, gerando bem-estar físico, emocional e mental. 
            </p>
            <p>
                Visualizamos, com muito afeto, o valor poético-pedagógico que esse estudo pode oferecer, também, no estímulo à competência geral para a autoria na apreciação e na participação em manifestações culturais e artísticas e no uso criativo de mídias diversas (mais à frente, neste trabalho, será comentada a mediação da DançAdinkra a partir de recursos tecnológicos e de transmissão on-line). Ressaltamos, sempre, o quanto a inserção do estudo de símbolos Adinkra na escola é, igualmente, uma maneira de resolver um problema de invisibilidade das produções e narrativas africanas e afro-brasileiras, estimulando a autonomia e a autoconfiança e combatendo preconceitos. Um projeto como DançAdinkra pode ainda ser compreendido como ferramenta para a construção de uma cultura de paz, no ambiente educacional, visando sobretudo uma resposta à violência cultural que pesa, estruturalmente, sobre o povo preto. 
            </p>
            <p>
                O reconhecimento de qualidades pessoais, a criação de símbolos identitários, a expressão pela dança e a remissão a ancestralidades tradicionalmente ocupadas podem servir para a mediação de ações de reparação direta, simbólica e estrutural, como preconizado pelos estudos da promoção da paz e do combate à violência de Johan Galtung.

        </p>
        <p>
            Há muito a ser descoberto e investigado sobre o continente africano e sua relação com os brasileiros (as/es), mas me firmo na frase de Carmo (2016, p.26):
        </p>
        <blockquote>
            ¨(…) Cabe-nos apresentar e difundir aquilo que nos chega ao conhecimento, pois compreender a dinâmica dos inúmeros agrupamentos humanos existentes no continente, com suas culturas e economias próprias, diferentes organizações administrativas, religiosas e familiares, é algo a ser aprendido ao longo da vida..¨
        </blockquote>
        <p>
            Assim, sigamos compartilhando tudo que conseguirmos, para que as próximas gerações tenham acesso a narrativas mais completas. 
        </p>
                <!-- <div class="row container-kamn"> -->
                    <img src="assets/img/adinkra/Criancas.jpeg" class="blog-post" alt="Feature-img" align="right" style="max-width:500px;padding-left:10px;"> 
                    <!-- </div> -->
        <p>
Na Escola de Dança de São Paulo, conduzi um processo de DançAdinkra, com a elaboração de símbolos identitários seguida de prática de criação de movimentos que resultou numa coreografia de concepção coletiva. Essas atividades foram realizadas nos meses de setembro, outubro e novembro de 2019, com três turmas de crianças (duas de meninas e uma de meninos, com idades entre 8 e 9 anos), que faziam o segundo ano da formação em dança da Escola de Dança de São Paulo e também com duas turmas de adultos, acima de dezoito anos, do curso livre de Danças Brasileiras da mesma instituição. Em todos os grupos, os procedimentos realizados foram os mesmos, porém a composição coreográfica final, que depende do ímpeto criativo próprio de cada turma, resultou em um trabalho completamente diferente. 
        </p>


    </div>  
  </div>    
</div>  

<!--End Main Container -->
  </body>

  <!-- Footer -->
<footer> 
  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-4">
        <h3 class="text-yellow"><i class="fa fa-map-marker"></i> Contato pessoal:</h3>
        <p class="footer-contact ">
          Silvana de Jesus <br>
          <!-- Phone: +55 11 95555-6666 <br> -->
          <!-- Fax: 1.800.245.357 <br> -->
          Email: <a target="_blank" href="mailto:silvanadejesus1185@gmail.com"> silvanadejesus1185@gmail.com</a><br>
          Instagram: <a target="_blank" href="https://www.instagram.com/silvana.jesuss/"> @silvana.jesuss</a><br>
          Youtube:  <a target="_blank" href="https://www.youtube.com/channel/UCrD2eUzdL2-bxiSy_ksrAEg"> Dança - Silvana de Jesus</a><br>
          Facebook:  <a target="_blank" href="https://www.facebook.com/silvana.dejesussantos.5"> Silvana De Jesus Santos</a>
        </p>

        <!-- <div class="btn-o bg" data-scribe="component:button" style="width: 100%;"><a href="https://www.instagram.com/myurl/" class="btn" id="b"><i class="fa fa-instagram ft14"></i><span class="label" id="l">Instagram</span></a></div> -->

      </div>
      <div class="col-md-4">
        <h3 class="text-yellow"><i class="fa fa-map-marker"></i> Contato DançAdinkra:</h3>
        <p class="footer-contact ">
          Email: <a target="_blank" href="mailto:dancadinkra@gmail.com"> dancadinkra@gmail.com</a><br>
          Instagram: <a target="_blank" href="https://www.instagram.com/dancadinkra/"> @dancadinkra</a><br>
        </p>
      </div>
      <div class="col-md-2">
      </div>
      </div>

      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-sm-8 col-md-8 text-yellow">
          <p >
            Esse trabalho é parte da pesquisa do mestrado em Artes da Cena para acessar todo o trabalho escrito clique.
          </p>
  
          <!-- <div class="btn-o bg" data-scribe="component:button" style="width: 100%;"><a href="https://www.instagram.com/myurl/" class="btn" id="b"><i class="fa fa-instagram ft14"></i><span class="label" id="l">Instagram</span></a></div> -->
  
        </div>
        <div class="col-md-2">
        </div>
        </div>    


    </div>
  </div>


</footer>
</html>
