<!doctype html>
<html lang="en">

  <head>
  <!-- meta data & title -->
  <meta charset="utf-8">
  <title>DançAdinkra – Símbolos Adinkra: Cultura Iconográfica Africana</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="DançAdinkra: Criação de movimentos coreográficos baseados em símbolos adinkra  (importantes elementos da cultura iconográfica africana) e que conduzem a um  processo pedagógico que reúne reflexão e reconhecimento das potencialidades individuais.
">
  <meta name="keywords" content="Símbolos Adinkra Sankofa Dança Coreografia Ancestralidade História Cultura Afro-Brasileira Africana Indígena Diáspora Africana Educação Ensino Pedagogia Lei 10.639 Lei 11.645 Jogo Memória Dados Processos criativos em dança processos coreográficos DançAdinkra processos pedagógicos matrizes culturais africanas">
  <meta name="author" content="Silvana de Jesus">

  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="../assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">

  <!-- CSS -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">
  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="../assets/css/animate.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CBDT1NF1RY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CBDT1NF1RY');
</script>

</head>
  <!-- Header -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
  <div class="container">
  
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand wow fadeInDownBig" href="index.html"><img class="office-logo" src="../assets/img/adinkra/logos/DancAdinkra_Logo_2.png"  alt="DançAdinkra"></a>     
  </div>
  <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav pull-right">
      <!-- <li class="active">
        <a href="/">Home</a>
      </li> -->
      <li> 
        <a href="/">Aconchegue</a>
      </li>
      <li> 
        <a href="/quemsou.html">Quem Sou</a>
      </li>
      <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="/team.html">Símbolo Adinkra</a>
        <ul class="dropdown-menu">
          <li><a href="/simboloadinkra.html">Símbolos Adinkra</a></li>
          <li><a href="/fundamento.html">Fundamento Adinkra</a></li>
          <li><a href="/identitario.html">Adinkra Identitário</a></li>
        </ul>
      </li>
      <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="/team.html">DançAdinkra</a>
        <ul class="dropdown-menu">
          <li><a href="/naescola.html">Na Escola</a></li>
          <li><a href="/dancadinkra.html">DançAdinkra</a></li>
          <li><a href="/napan.html">Na Pan</a></li>
        </ul>
      </li>
      <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="/team.html">Jogos</a>
        <ul class="dropdown-menu">
          <li><a href="/jogomemoria.html">Instruções: Jogo da Memória</a></li>
          <li><a href="/memory.html">Jogo da Memória</a></li>
          <li><a href="/jogodado.html">Instruções: Jogo do Dado</a></li>
        </ul>
      </li>      
      <li>
        <a href="/recordacoes.html">RecordAções</a>
        <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="/team.html">RecordAções</a>
        <ul class="dropdown-menu">
          <li><a href="/team.html">Bossa Criativa</a></li>
          <li><a href="/memory.html">Arte Quilombo</a></li>
          <li><a href="/memory.html">CRD</a></li>
          <li><a href="/memory.html">Projeto Sankofa</a></li>
          <li><a href="/memory.html">Difusão Adinkra</a></li>
        </ul> -->
      </li>      
      <li>
        <a href="/sabermais.html"><span>Saber Mais</span></a>
      </li>
      <li>
        <a href="/contact.html">Contato</a>
      </li>
    </ul>         
  </div>
  </div>
</nav>




<!-- End Header -->
  <script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../js/wow.min.js"></script>
<script>
  new WOW().init();
</script>

  <body>
    <!-- Main Container -->

<div id="banners"></div>
<div class="container">   
  <div class="row">
    <div class="col-sm-2 col-md-2">
</div>
    <div class="col-sm-8 col-md-8 text-generic">
        <h3 class="text-header lead" id="anchor1"> JOGO DA MEMÓRIA </h3>
        <hr class="color-hr">
        <p>
            Ao olhar para os jogos, encontramos modos pedagógicos de aprendizagem. Vimos assim, no jogo da memória, uma possibilidade de trabalhar os símbolos Adinkra e daí desenvolvemos o jogo da memória dançante, que parte da associação de imagens para chegar aos movimentos. Para isso podemos criar  o jogo da memória, em casa ou na sala de aula, com cartas, explico a seguir.  
        </p>
        <p>
            Antes, é importante dizer que desenvolvemos um jogo da memória com os símbolos, nesse site, permitindo jogar em duplas ou trios. Essa é uma maneira interativa e pedagógica para os professores (as) apresentarem os símbolos Adinkra para as/os estudantes, podendo desenvolver suas próprias atividades a partir desse jogo.  Enfim, acessem o jogo, compartilhem e se divirtam. 
        </p>
        <p>
            Retomando as explicações, para construir o jogo da memória tradicional, em casa ou na escola, indicamos a impressão de duas imagens iguais de cada símbolo Adinkra (o professor pode definir a quantidade de símbolos).  Depois, cortam-se pares de quadradinhos idênticos de cartolina colando-se, sobre cada par, símbolos Adinkra iguais. 
        </p>
        <p>
            Para jogar, o primeiro passo se dá com uma abordagem tradicional do jogo de memória, feito com cartas de imagens. As cartas são dispostas sobre uma mesa com as faces que contém imagens viradas para baixo. Cada participante deve virar duas cartas quaisquer e, caso forme um par de cartas idênticas, retira as cartas do jogo e o mesmo jogador pode virar mais duas cartas. Caso um par não seja formado, as cartas voltam ao jogo, na mesma posição de antes (com as imagens viradas para baixo) e é a vez de outra pessoa tentar. O objetivo consiste em tentar memorizar onde estão as cartas idênticas para assim formar os pares. O jogo termina quando todos os pares forem formados e todas as cartas forem retiradas da mesa. Nesse jogo, feito em duplas ou trio, ganha quem acertar mais cartas com as suas respectivas imagens, formando maior número de pares. 
        </p>
        <p>
            Na versão online, que está aqui neste website, o objetivo é o mesmo: clica-se sobre duas cartas para encontrar seus pares. 
        </p>
        <p>
            No jogo da memória, o importante é a familiarização com os símbolos Adinkra. O número de símbolos representados pode variar de acordo com o número de participantes e com a dinâmica de cada grupo. 
        </p>
        <p>
            Em um segundo momento, para trabalhar a memorização dos símbolos podemos associá-los à movimentação. Um relato de trabalho pode ilustrar, de modo mais direto, essa dinâmica: 
        </p>



        <p>
            Num encontro online, primeiramente apresentei 4 símbolos e seus nomes e, depois, mostrei movimentos que corresponderam a cada símbolo-carta. Preferi começar com um conjunto de quatro cartas que representavam alguns dos símbolos Adinkra mais reconhecíveis (Sankofa, Aya, Osram e Nyame Biribi Wo Soro). Defini um movimento para cada símbolo. Após a demonstração, com a música, o jogo passou a demandar que, revelada uma carta, cada participante respondesse com o movimento equivalente. Na minha experiência, o jogo permaneceu ativo e com alto engajamento do grupo. 
        </p>

        <div class="row container-kamn">
            <img src="assets/img/adinkra/SilvanaIuna.jpeg" class="blog-post" alt="Feature-img" align="right"> 
             <!-- style="max-width:500px;padding-left:10px;">  -->
        </div>

        <p>
            Um desdobramento possível do jogo seria o acréscimo de uma fase em que cartas contendo símbolos e seus nomes sejam substituídos por pares a serem formados com o símbolo em uma das cartas e com seu nome em outra. Eventualmente se pode, ainda, testar a memória na correlação entre nomes e movimentos.
        </p>
        <p>
            Aqui, apresentamos uma forma de unir o jogo à dança, mas sintam-se à vontade para evoluir ou elaborar outras possibilidades. Marque a gente no instagram para acompanharmos suas criações.
        </p>

    </div>  
  </div>    
</div>  

<!--End Main Container -->
  </body>

  <!-- Footer -->
<footer> 
  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-4">
        <h3 class="text-yellow"><i class="fa fa-map-marker"></i> Contato pessoal:</h3>
        <p class="footer-contact ">
          Silvana de Jesus <br>
          <!-- Phone: +55 11 95555-6666 <br> -->
          <!-- Fax: 1.800.245.357 <br> -->
          Email: <a target="_blank" href="mailto:silvanadejesus1185@gmail.com"> silvanadejesus1185@gmail.com</a><br>
          Instagram: <a target="_blank" href="https://www.instagram.com/silvana.jesuss/"> @silvana.jesuss</a><br>
          Youtube:  <a target="_blank" href="https://www.youtube.com/channel/UCrD2eUzdL2-bxiSy_ksrAEg"> Dança - Silvana de Jesus</a><br>
          Facebook:  <a target="_blank" href="https://www.facebook.com/silvana.dejesussantos.5"> Silvana De Jesus Santos</a>
        </p>

        <!-- <div class="btn-o bg" data-scribe="component:button" style="width: 100%;"><a href="https://www.instagram.com/myurl/" class="btn" id="b"><i class="fa fa-instagram ft14"></i><span class="label" id="l">Instagram</span></a></div> -->

      </div>
      <div class="col-md-4">
        <h3 class="text-yellow"><i class="fa fa-map-marker"></i> Contato DançAdinkra:</h3>
        <p class="footer-contact ">
          Email: <a target="_blank" href="mailto:dancadinkra@gmail.com"> dancadinkra@gmail.com</a><br>
          Instagram: <a target="_blank" href="https://www.instagram.com/dancadinkra/"> @dancadinkra</a><br>
        </p>
      </div>
      <div class="col-md-2">
      </div>
      </div>

      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-sm-8 col-md-8 text-yellow">
          <p >
            Esse trabalho é parte da pesquisa do mestrado em Artes da Cena para acessar todo o trabalho escrito clique.
          </p>
  
          <!-- <div class="btn-o bg" data-scribe="component:button" style="width: 100%;"><a href="https://www.instagram.com/myurl/" class="btn" id="b"><i class="fa fa-instagram ft14"></i><span class="label" id="l">Instagram</span></a></div> -->
  
        </div>
        <div class="col-md-2">
        </div>
        </div>    


    </div>
  </div>


</footer>
</html>
