<!doctype html>
<html lang="en">

  <head>
  <!-- meta data & title -->
  <meta charset="utf-8">
  <title>DançAdinkra – Símbolos Adinkra: Cultura Iconográfica Africana</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="DançAdinkra: Criação de movimentos coreográficos baseados em símbolos adinkra  (importantes elementos da cultura iconográfica africana) e que conduzem a um  processo pedagógico que reúne reflexão e reconhecimento das potencialidades individuais.
">
  <meta name="keywords" content="Símbolos Adinkra Sankofa Dança Coreografia Ancestralidade História Cultura Afro-Brasileira Africana Indígena Diáspora Africana Educação Ensino Pedagogia Lei 10.639 Lei 11.645 Jogo Memória Dados Processos criativos em dança processos coreográficos DançAdinkra processos pedagógicos matrizes culturais africanas">
  <meta name="author" content="Silvana de Jesus">

  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="../assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">

  <!-- CSS -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">
  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="../assets/css/animate.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CBDT1NF1RY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CBDT1NF1RY');
</script>

</head>
  <!-- Header -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
  <div class="container">
  
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand wow fadeInDownBig" href="index.html"><img class="office-logo" src="../assets/img/adinkra/logos/DancAdinkra_Logo_2.png"  alt="DançAdinkra"></a>     
  </div>
  <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav pull-right">
      <!-- <li class="active">
        <a href="/">Home</a>
      </li> -->
      <li> 
        <a href="/">Aconchegue</a>
      </li>
      <li> 
        <a href="/quemsou.html">Quem Sou</a>
      </li>
      <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="/team.html">Símbolo Adinkra</a>
        <ul class="dropdown-menu">
          <li><a href="/simboloadinkra.html">Símbolos Adinkra</a></li>
          <li><a href="/fundamento.html">Fundamento Adinkra</a></li>
          <li><a href="/identitario.html">Adinkra Identitário</a></li>
        </ul>
      </li>
      <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="/team.html">DançAdinkra</a>
        <ul class="dropdown-menu">
          <li><a href="/naescola.html">Na Escola</a></li>
          <li><a href="/dancadinkra.html">DançAdinkra</a></li>
          <li><a href="/napan.html">Na Pan</a></li>
        </ul>
      </li>
      <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="/team.html">Jogos</a>
        <ul class="dropdown-menu">
          <li><a href="/jogomemoria.html">Instruções: Jogo da Memória</a></li>
          <li><a href="/memory.html">Jogo da Memória</a></li>
          <li><a href="/jogodado.html">Instruções: Jogo do Dado</a></li>
        </ul>
      </li>      
      <li>
        <a href="/recordacoes.html">RecordAções</a>
        <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="/team.html">RecordAções</a>
        <ul class="dropdown-menu">
          <li><a href="/team.html">Bossa Criativa</a></li>
          <li><a href="/memory.html">Arte Quilombo</a></li>
          <li><a href="/memory.html">CRD</a></li>
          <li><a href="/memory.html">Projeto Sankofa</a></li>
          <li><a href="/memory.html">Difusão Adinkra</a></li>
        </ul> -->
      </li>      
      <li>
        <a href="/sabermais.html"><span>Saber Mais</span></a>
      </li>
      <li>
        <a href="/contact.html">Contato</a>
      </li>
    </ul>         
  </div>
  </div>
</nav>




<!-- End Header -->
  <script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../js/wow.min.js"></script>
<script>
  new WOW().init();
</script>

  <body>
    <!-- Main Container -->

<!-- <div class="row container-kamn">
  <img src="assets/img/adinkra/sankofa.gif" class="blog-post" alt="Feature-img" align="right" width="100%"> 
</div> -->

<div id="banners"></div>
<div class="container">   
  <div class="row">
    <!-- <div class="side-left col-sm-4 col-md-4">
        <div class="row container-kamn">
            <img src="assets/img/adinkra/simbolos_adinkra.jpg" class="blog-post" alt="Feature-img" align="right" width="100%"> 
          </div>  
    </div> -->
    <div class="col-sm-2 col-md-2 text-generic">
    </div>
    <div class="col-sm-8 col-md-8 text-generic">
      <h3 class="text-header lead" id="anchor1"> PROJETO SANKOFA: De lá para cá, trilhas do meu caminhar </h3>
      <hr class="color-hr">

        <p>
            Em fevereiro de 2021, fui convidada pelas Pretas Bás (Maria da Graça, Angelina e Marlene), importantes nomes do Espaço Cultural Adebanke, coletivo da zona leste de São Paulo, para realizar uma live. Surgiu o desejo de contar minha trajetória de vida e ao mesmo tempo compartilhar o projeto DançAdinkra. Foi então que criei o título “Sankofa: de lá para cá, trilhas do meu caminhar”. Esse nome passa a ser ¨projeto¨ para toda ação online de compartilhamentos que realizei e que realizarei sobre os símbolos Adinkra e sobre minha história de vida. 
        </p>
        <p>
            Assim, abaixo segue link dessa primeira ação realizada em formato de live: 
        </p>
        <p>
            Chá com as Pretas Bás – Silvana de Jesus:
        </p>
        <p><iframe loading="lazy" title="Vídeo 1" width="708" height="398" src="https://www.youtube.com/embed/g91j31R6GpE?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                        
    </div>  
  </div>    
</div>  

<!--End Main Container -->
  </body>

  <!-- Footer -->
<footer> 
  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-4">
        <h3 class="text-yellow"><i class="fa fa-map-marker"></i> Contato pessoal:</h3>
        <p class="footer-contact ">
          Silvana de Jesus <br>
          <!-- Phone: +55 11 95555-6666 <br> -->
          <!-- Fax: 1.800.245.357 <br> -->
          Email: <a target="_blank" href="mailto:silvanadejesus1185@gmail.com"> silvanadejesus1185@gmail.com</a><br>
          Instagram: <a target="_blank" href="https://www.instagram.com/silvana.jesuss/"> @silvana.jesuss</a><br>
          Youtube:  <a target="_blank" href="https://www.youtube.com/channel/UCrD2eUzdL2-bxiSy_ksrAEg"> Dança - Silvana de Jesus</a><br>
          Facebook:  <a target="_blank" href="https://www.facebook.com/silvana.dejesussantos.5"> Silvana De Jesus Santos</a>
        </p>

        <!-- <div class="btn-o bg" data-scribe="component:button" style="width: 100%;"><a href="https://www.instagram.com/myurl/" class="btn" id="b"><i class="fa fa-instagram ft14"></i><span class="label" id="l">Instagram</span></a></div> -->

      </div>
      <div class="col-md-4">
        <h3 class="text-yellow"><i class="fa fa-map-marker"></i> Contato DançAdinkra:</h3>
        <p class="footer-contact ">
          Email: <a target="_blank" href="mailto:dancadinkra@gmail.com"> dancadinkra@gmail.com</a><br>
          Instagram: <a target="_blank" href="https://www.instagram.com/dancadinkra/"> @dancadinkra</a><br>
        </p>
      </div>
      <div class="col-md-2">
      </div>
      </div>

      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-sm-8 col-md-8 text-yellow">
          <p >
            Esse trabalho é parte da pesquisa do mestrado em Artes da Cena para acessar todo o trabalho escrito clique.
          </p>
  
          <!-- <div class="btn-o bg" data-scribe="component:button" style="width: 100%;"><a href="https://www.instagram.com/myurl/" class="btn" id="b"><i class="fa fa-instagram ft14"></i><span class="label" id="l">Instagram</span></a></div> -->
  
        </div>
        <div class="col-md-2">
        </div>
        </div>    


    </div>
  </div>


</footer>
</html>
